<h1>Display your Pirate here</h1>
<h2> PIRATE </h2>
Name: <%=@new_pirate.name %>
Weight: <%=@new_pirate.weight %>
Height: <%=@new_pirate.height %>

<h2>Display your first ship here</h2>
<h2> SHIP ONE </h2>
Name: <%=@new_ship_one.name %>
Type: <%=@new_ship_one.type %>
Booty: <%=@new_ship_one.booty %>


<h2>Display your second ship here</h2>
<h2> SHIP TWO </h2>
Name: <%=@new_ship_two.name %>
Type: <%=@new_ship_two.type %>
Booty: <%=@new_ship_two.booty %>
